* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgb(81, 148, 220);
    background: linear-gradient(145deg, #03ddffcb, #ff0381b6 90%);
}

.container {
    position: relative;
    max-width: 1000px;
    padding: 10px;
    margin: 0;
}

.TODO_APP {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    margin-left: 20%;
}

input {
    width: 90%;
    color: #333;
    border: none;
    border-bottom: 2px solid #666;
    padding: 10px;
    font-size: 22px;
    outline: none;
    background: none;
    margin-bottom: 10px;
}
button {
    width: 5em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 3px 3px 6px #c5c5c5,-3px -3px 6px #ffffff;
    background: none;
    cursor: pointer;
   }
   button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   button:hover::before {
    width: 9em;
   }
h3 {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
}
ol {
    list-style: none;
    width: 100%;
    padding: 20px;
    margin: 50px 0;
    background: #e96969bb;
    font-size: 22px;
}
ol.Completed {
    background: #60f599;
}
li button {
    float: right;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 40px;
    margin-right: 10px;
}
